.hero {
    display: flex;
    flex-direction: column;
    min-height: auto;
    max-width: inherit;

    @include responsive(desktop) {
        flex-direction: row;
        justify-content: space-around;
        min-height: 100vh;
        align-items: center;

        padding-top: 12em;
        margin-right: 0;
        padding-right: 0;
    }

    @include responsive(desktop) {
        justify-content: flex-end;
        align-items: flex-start;
    }

    &__description, &__img {
        @include responsive(desktop) {
            flex-direction: row;
            width: 50%;
        }
    }

    &__description {

        @include responsive(desktop) {
            margin-left: -30px;
        }
        @include responsive(big-desktop) {
            margin-left: inherit;
        }

        //Bubble fondo
        &::before {
            @include responsive(desktop){
                content: '';
                position: absolute;
                width: 200px;
                height: 200px;
                top: 0;
                margin-top: 8rem;
                background: var(--magenta);
                background: radial-gradient(circle, var(--darkblue) 0%, var(--intesiveblue) 90%);
                border-radius: 50%;
                filter: blur(10rem);
            }
        }

        &--content {
            width: 100%;
            background: rgba(255, 255, 255, 0.1);
            box-shadow: 0 4px 30px alphaByHex(#01cfea, 33);
            backdrop-filter: blur(40px);
            -webkit-backdrop-filter: blur(40px);
            border: 0.1px solid rgba(255, 255, 255, 0.2);
            border-radius: 10px;
            padding: 35px;
            z-index: 10;
            width: 100%;

            @include responsive(desktop) {
                top: -30px;
                backdrop-filter: blur(8px);
                -webkit-backdrop-filter: blur(8px);
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                min-height: 350px;
                min-width: 450px;
                padding: 15px;
                position: relative;
                left: 10%;
            }

            @include responsive(big-desktop) {
                padding: 35px;
                max-width: 850px;
                height: 400px;
                position: relative;
                left: 12%;
            }
        }

        &--title {
            @extend %title;
            @include gradientMulticolor();

            display: block;
            letter-spacing: 4px;
            animation: gradient 3s ease infinite;
            background-size: 400% 400%;
        }

        &--subtitle {
            font-size: 1.4em;
            letter-spacing: 1.5px;
            font-weight: 700;
            text-shadow:
                -1px -1px 0 var(--intesiveblue),
                1px -1px 0 var(--intesiveblue),
                1px 1px 0 var(--intesiveblue),
                -1px 1px 0 var(--intesiveblue);
            color: var(--first);

            @include responsive(desktop) {
                font-size: 2em;
            }

            @include responsive(big-desktop) {
                font-size: 2.6em;
            }
        }

        p {
            @include responsive(desktop) {
                font-size: 1.2em;
            }
            @include responsive(big-desktop) {
                font-size: 1.4em;
            }
        }
    }

    &__button {
        display: flex;
        justify-content: flex-start;
        margin-top: 1.5rem;

        &--cv {
        }
        &--contactme{
            margin-left: 16px;
        }
    }


    &__title {
        @extend %title;
        font-size: 1.7rem;
        @include gradientIntensiveMagenta();
        display: block;
    }

    &__img {
        align-self: center;
        width: 100%;
        height: 335px;
        margin-left: 150px;
        margin-top: -125px;
        background: -webkit-linear-gradient(var(--pink) 25%, var(--magenta) 100%);
        border-radius: 25px 0 0 25px;

        @include responsive(desktop) {
            width: 60%;
            margin: 0;
            height: 600px;
            display: flex;
            justify-content: flex-end;
        }

        img {
            position: relative;
            left: 50%;
            top: -2px;
            width: 250px;
            z-index: 100;
            @include responsive(desktop) {
                position: absolute;
                width: 600px;
                margin: 0;
                right: -150px;
                left: inherit;
                top: 2.9rem;
            }
            @include responsive(big-desktop) {
                position: absolute;
                width: 600px;
                margin: 0;
                left: inherit;
                right: inherit;
                top: 2.9rem;
            }
        }
    }


    &--desktop {
        display: none;
    }

    &__background-text {
        z-index: 1;
        color: var(--first);
        position: absolute;
        font-size: 4em;
        line-height: 1.2em;
        @include responsive(desktop) {
            position: absolute;
            left: 0px;
            width: 100%;
            font-size: 11em;
            line-height: 1.4em;
        }
        @include responsive(big-desktop) {
            z-index: 1;
            font-size: 12em;
            left: 40px;
        }
        @include responsive(full-desktop) {
            z-index: 10;
            font-size: 15em;
        }
        &--top, &--bottom {
            display: none;
            @include responsive(desktop) {
                display: block;
            }
        }

        &--top {
            p{
                top: 35%;
                @include responsive(desktop) {
                    top: inherit;
                }

            }
        }

        &--bottom {
            p {
                top: 500px;
                @include responsive(desktop) {
                    top: 450px;
                }
            }
        }

        &--border {
            text-shadow:
                -2px -2px 0 var(--intesiveblue),
                2px -2px 0 var(--lightgreen),
                2px 2px 0 var(--magenta),
                -2px 2px 0 var(--intesiveblue);
        }
        &--wave {
            color: var(--intesiveblue);
            animation: wave 3s ease-in-out infinite;
        }

    }

}


@keyframes wave {
    0%, 100% {
      clip-path: polygon(
        0% 47%,
        10% 48%,
        33% 54%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }

    50% {
      clip-path: polygon(0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
      );
    }
  }
