.hero {
    display: flex;
    flex-direction: column;
    min-height: auto;
    padding: 5em 2.4em 1.4em 2.4em;


    @include responsive(desktop) {
        flex-direction: row;
        justify-content: space-around;
        min-height: 97vh;
        align-items: center;
        @include wrapper();
    }

    @include responsive(big-desktop) {
        justify-content: flex-end;
    }

    &__description, &__img {
        @include responsive(desktop) {
            flex-direction: row;
            width: 50%;
        }
    }

    &__description {

        @include responsive(desktop) {
            display: flex;
            flex-direction: column;
            justify-content: center;

            max-width: 650px;
        }

        &--title {
            @extend %title;
            @include gradientIntensiveMagenta();
            display: block;
            letter-spacing: 4px;
        }

        &--subtitle {
            font-size: 1.4em;
            letter-spacing: 1.5px;
            font-weight: 700;
            color: var(--intesiveblue);

            @include responsive(desktop) {
                font-size: 2em;
            }

            @include responsive(big-desktop) {
                font-size: 2.6em;
            }
        }

        p {
            @include responsive(desktop) {
                font-size: 1.2em;
            }
            @include responsive(big-desktop) {
                font-size: 1.4em;
            }
        }
    }

    &__button {
        display: flex;
        justify-content: flex-start;
        margin-top: 1.5rem;

        &--cv {
        }
        &--contactme{
            margin-left: 16px;
        }
    }


    &__title {
        @extend %title;
        @include gradientIntensiveMagenta();
        display: block;
    }

    &__img {
        align-self: center;
        width: 50%;
        img {
            @include responsive(desktop) {
                width: 400px;
                margin: 0 auto;
            }
        }
    }


    &--desktop {
        display: none;
    }

}
