@mixin shadowButton($color) {
    color: #fff;
    background-color: var($color);
    box-shadow: 0 4px 14px 0 var($color);
    transition: all .2s ease-in-out;

    &:hover {
        opacity: 0.8;
    }
}

@mixin borderButton($color) {
    background: transparent;
    font-weight: 700;
    border: 2px solid var($color);
    color: var($color);
    transition: all .2s ease-in-out;

    &:hover {
        @include shadowButton($color);
    }
}

.button {
    padding: 0 20px;
    border-radius: 8px;
    width: auto;
    min-width: 5em;
    text-align: center;
    color: var(--second);
    font-size: 1em;
    line-height: 2.4em;

    &--magenta {
        @include shadowButton(--magenta);
    }

    &--blue {
        @include shadowButton(--darkblue);
    }

    &--purple {
        @include shadowButton(--purple);
    }

    &--green {
        @include shadowButton(--green);
    }

    &--lightorange {
        @include shadowButton(--lightorange);
    }

    &--darkpink {
        @include shadowButton(--darkpink);
    }


    &--second {
        &-magenta {
            @include borderButton(--magenta);
        }

        &-blue {
            @include borderButton(--darkblue);
        }

        &-purple {
            @include borderButton(--purple);
        }

        &-green {
            @include borderButton(--green);
        }

        &-lightorange {
            @include borderButton(--lightorange);
        }

        &-darkpink {
            @include borderButton(--darkpink);
        }
    }
}
