.header {
    display: flex;
    justify-content: space-between;
    padding: 1.4em 2.4em;
    position: fixed;
    top: 0;
    width: 100%;

    //Glass effect background
    background: rgba(var(--first), 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.02);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(var(--first), 0.3);


    &__logo{
    }

    &__menu {
        display: none;
        justify-content: space-between;
        min-width: 450px;

        @include responsive(desktop) {
            display: flex;

            .header__nav, .header__icons {
                a, button {
                    margin-left: 10px;
                }
            }
        }

        &--burger {
            @include responsive(desktop) {
                display: none;
            }
        }
    }

    &__nav {
        display: flex;
        font-weight: 500;


        a {
            transition: 0.5s;
        }

        &--bio {
            &:hover {
                color: var(--lightgreen);
            }
        }
        &--experience {
            &:hover {
                color: var(--intesiveblue)
            }
        }
        &--education {
            &:hover {
                color: var(--intesiveorange)
            }
        }
        &--project {
            &:hover {
                color: var(--darkpink)
            }
        }
    }

    &__icons {
        display: flex;

        a {
            transition: 0.5s;
            &:hover {
                color: var(--magenta);
            }
        }
        &--linkedin{
            svg {
                width: 1.4em;
                height: 1.4em;
            }
        }
        &--github {
            svg {
                width: 1.3em;
                height: 1.3em;
            }
        }
    }
}
