.header {
    display: flex;
    justify-content: space-between;
    padding: 1.4em 2.4em 0.5em 2.4em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    //Glass effect background
    background: rgba(var(--first), 0.2);
    box-shadow: 0 4px 30px rgba(0,0,0, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    .header__icons--switch {
        @include responsive(desktop) {
            display: none;
        }
    }

    &__logo{
        img {
            width: 32px;
            height: 24px;
        }
    }

    &__nav {
        label:not(.switch_theme), input {
            display: none;
            @include responsive(desktop) {
                display: none;
            }
        }

        &--items {
            display: none;
            flex-direction: column;

            // position: absolute;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);

            @include responsive(desktop) {
                display: flex;
                flex-direction: row;
            }
        }

        &--navigation-list {
            @include responsive(desktop) {
                display: flex;
            }

            &--item {
                @include responsive(desktop) {
                    margin-left: 1em;
                }

                a {
                    transition: 0.5s;
                }

                &--about {
                    &:hover {
                        color: var(--lightgreen);
                    }
                }
                &--experience {
                    &:hover {
                        color: var(--intesiveblue)
                    }
                }
                &--education {
                    &:hover {
                        color: var(--intesiveorange)
                    }
                }
                &--project {
                    &:hover {
                        color: var(--darkpink)
                    }
                }
            }
        }

        &--link-list {
            display: flex;
            justify-content: space-around;

            @include responsive(desktop) {
                justify-content: baseline;
            }

            &--item {
                @include responsive(desktop) {
                    margin-left: 1em;
                }
            }

            a {
                transition: 0.5s;
                &:hover {
                    color: var(--magenta);
                }
            }
            .icon--github{
                svg {
                    width: 1.4em;
                    height: 1.4em;
                }
            }
            .icon--linkedin {
                svg {
                    width: 1.3em;
                    height: 1.3em;
                }
            }
        }
    }
}


// Event menu desplegable
.header--menu-toggle--checkbox:checked+.header__nav--items {
    display: flex;
}


[data-theme="dark"] {
    .header {
        &__logo {
            img {
                -webkit-filter: invert(100%);
                filter: invert(100%);
            }
        }
    }
}
