.switch_theme {
    position: fixed;
    cursor: pointer;
    bottom: 25px;
    left: 25px;
    width: 48px;
    height: 48px;
    background-color: var(--first);
    border: 2px solid var(--second);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: transparent;
    }
    &--checkbox {
        display: none;
    }
}

[data-theme="dark"] {
    .switch_theme .moon {
        display: none;
    }
}
[data-theme="light"] {
    .switch_theme .sun {
        display: none;
    }
}