.switch_theme {
    position: relative;
    cursor: pointer;
    top: -8px;
    // width: 48px;
    // height: 48px;
    background-color: var(--second);
    border: 2px solid var(--first);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: transparent;
    }
    &--checkbox {
        display: none;
    }
}

[data-theme="dark"] {
    .switch_theme .moon {
        display: none;
    }
}
[data-theme="light"] {
    .switch_theme .sun {
        display: none;
    }
}
