

header
    .header__icon
        a(href=ENTORNO) < David />
    .header__link
        include ./links

    details.header__link--mobile
        summary Menú
        .header__link--mobile--modal
            include ./links
