section.about#about
    .about__content
        .about__img
            img(src="assets/images/davidmartinperez.png", alt="")
        .about__description
            h2.about__description--title ¿Quién soy?
            .about__description--subtitle La persona que necesitas en tu equipo
            .about__description--short-description Soy una persona que trabaja en equipo y contagia su alegría a estos. Explicabo adipisci facilis molestias debitis voluptas temporibus, fuga perferendis aliquam assumenda quia corporis eum eligendi accusamus tempora rerum dolorum ipsa ut recusandae.
            .about__description-hooks
                //-TODO: Componentizar estos hooks
                .about__description-hooks--item
                    .about__description-hooks--img
                        img(src="", alt="")
                    .about__description-hooks--info
                        .about__description-hooks--title 5+ Años
                        .about__description-hooks--type Experiencia
                .about__description-hooks--item
                    .about__description-hooks--img
                            img(src="", alt="")
                    .about__description-hooks--info
                        .about__description-hooks--title 100+ Proyectos
                        .about__description-hooks--type Completados
