section.experience#experience
    h2.experience__title En estos más de 5 años
    article
    .experience__description
        p Actualmente me encargo de <span class="bold">investigar e implimentar nuevas tecnologías o funcionamientos para los desarrollos en los que participo</span>, por ejemplo implementaciones de nuevas librerías, mejoras de rendimientos y automatización de procesos, como a su vez de formar a mis compañeros en estas nuevas implementaciones pero también realizo <span class="bold">desarrollos de gran impacto</span> en aplicaciones con <span class="bold">miles de usuarios diarios</span>.
        p Trabajo día a día hablando con el cliente en metodologías agiles y dando lo mejor de mi para sacar a delante todo lo que nos proponemos.
        p A lo largo de estos años, he diseñado y construido <span class="bold">arquitecturas de Frontend</span> para projectos de mediano tamaño, priorizando en estos la velocidad, escalabilidad y experiencia, <span class="bold">he impartido formaciones</span> sobre testing, javascript, typescript, mejoras de rendimiento, react y angular en mis equipos, también he participado en charlas motivacionales para nuevos desarrolladores.
        p Para más información detallada puedes revisar mi <a href="cv">CV </a> o mi <a href="linkedin">Linkedin</a>
    .experience__skills
        //- ¿iconos o mejor texto como en mi cv? iconos igual más molones... mejor en svg?
        .experience__skills--item JS
        .experience__skills--item Angular
        .experience__skills--item Nodejs
        .experience__skills--item Jest
        .experience__skills--item Typescript
        .experience__skills--item CSS
