section.hero
    .hero__description
        p Hola, mi nombre es
        h2.hero__description--title David Martín.
        h3.hero__description--subtitle Front End Developer.
        .hero__button
            a(href="#").hero__button--cv.button.button--second-lightorange CV
            a(href="https://www.linkedin.com/in/dmartinp" target="_blank").hero__button--contactme.button.button--blue Contactame
    .hero__img
        img(src="./assets/images/foto-david-martin-perez-removebg.png", alt="Foto de David Martin Perez")
