section.hero
    div.hero__background-text--top
        p.hero__background-text.hero__background-text--border Front End
        //- p.hero__background-text.hero__background-text--wave Front End
    div.hero__background-text--bottom
        p.hero__background-text.hero__background-text--border Developer
        p.hero__background-text.hero__background-text--wave Developer
    .hero__description
        .hero__description--content
            p Hola, mi nombre es
            h2.hero__description--title David Martín.
            h3.hero__description--subtitle Front End Developer.
            .hero__button
                a(href="https://www.linkedin.com/in/dmartinp").hero__button--cv.button.button--second-lightorange CV
                a(href="https://www.linkedin.com/in/dmartinp" target="_blank").hero__button--contactme.button.button--blue Contactame
    .hero__img
        img(src="./assets/images/davidmartinperez.png", alt="Foto de David Martin Perez")
