doctype
html(lang='es-Es')
    head
        include ./shared/head-tag
    body(data-theme="dark")
        include ./shared/header
        main
            include ./layout/welcome
            include ./layout/bio
            include ./layout/experience
            include ./layout/portfolio
            include ./layout/education
        include ./shared/footer
        //- script.
        //-     document.getElementById('switch-theme').addEventListener('change', (event) => {
        //-         document.body.removeAttribute('data-theme'); //Eliminamos el atributto para añadir despues el necesario
        //-         (event.target.checked) ? document.body.setAttribute('data-theme', 'dark') : document.body.setAttribute('data-theme', 'light')
        //-     });
