doctype
html(lang='es-Es')
    head
        include ./shared/head-tag
    body(data-theme="light")
        include ./shared/header
        main
            .title David Martin
        include ./shared/footer
        //- script.
        //-     document.getElementById('switch-theme').addEventListener('change', (event) => {
        //-         document.body.removeAttribute('data-theme'); //Eliminamos el atributto para añadir despues el necesario
        //-         (event.target.checked) ? document.body.setAttribute('data-theme', 'dark') : document.body.setAttribute('data-theme', 'light')
        //-     });
