//aboutme - Home
.menu-social{
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        color: #fff;
        font-size: 35px;
        &:hover,&:active,&:focus{
            color: $colorHovers;
        }
    }
}

p{
    padding: 15px 0 0 0;
    a{
        cursor: pointer;
        cursor: hand;
        text-decoration: none;
        color: $colorHovers;
        @extend %hoverDefault;
        &:active,&:focus,&:hover{
            @extend %hoverActive;
        }
    }
}
.wrapper{
    margin-bottom: 15px;
}
// sass scss/aboutme.scss aboutme.css --watch
