@import 'footer';
@import 'header';
@import 'hero';
@import 'portfolio';
@import 'bio';
@import 'quick_bio';
@import 'experience';
@import 'skills';
@import 'contact';
@import 'interesting';

//Temporal
.temporal {
    &--links {
        display: flex;
        justify-content: space-around;
        font-size: 24px;
    }
    &--title {
        @extend %title;
    }
}