@import 'footer';
@import 'header';
@import 'hero';
@import 'proyects';
@import 'bio';

//Temporal
.temporal {
    &--links {
        display: flex;
        justify-content: space-around;
        font-size: 24px;
    }
    &--title {
        text-align: center;
        font-size: 32px;
    }
}