header {
    z-index: 1000;
    width: 100%;
    height: 100px;
    background-color: $transparent;
    position: absolute;
    .header {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        @include responsive(desktop-mini) {
            padding: 0 60px;
        }
        &--menu {
            position: relative;
        }
        &--logo {
            height: 32px;
        }
        &--link {
            @extend %font-euphoria-script;
            text-decoration: none;
            font-size: 36px;
            font-weight: 600;
            color: $second;
            transition: 0.3s;

            span {
                color: $second;
                font-size: 28px;
            }
        }
        &--menu-toggle {
            cursor: pointer;
            &--checkbox {
                display: none;
            }
        }
        &--navigation-items {
            display: none;
                * {
                    color: $second;
                }
            position: absolute;
            justify-content: center;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            padding: 15px 0;
            right: 35px;
        }
    }
}

// Event menu desplegable
.header--menu-toggle--checkbox:checked+.header--navigation-items {
    display: flex;
}