// themes
[data-theme="light"] {
    --first: #ffffff;
    --second: #000101;
}
[data-theme="dark"] {
    --first: #000101;
    --second: #ffffff;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
	:root {
		--first: #000101;
        --second: #ffffff;
	}
}

body {
    background: var(--first);
    color: var(--second);
}
.title{
    font-size: 72px;
    line-height: 1.4em;
    @include gradientPinkPurple();
}