// la paleta esta pensada para tener 3 colores, dos predominantes y uno para acompañar



// themes
[data-theme="light"] {
    --first: #0a0001;
    --second: #F0FAF2;
}
[data-theme="dark"] {
    --first: #F0FAF2;
    --second: #0a0001;
}
