// la paleta esta pensada para tener 3 colores, dos predominantes y uno para acompañar
$first: #0a0001;
$second: #F0FAF2;
$third: #80CBC4;

//TODO: Habilitar un modo noche y un modo día para alternal, var(--first) por var(--second) y cambiar la imagen de perfil a algo más blanco

$red: #ffabab;
$transparent: transparent;


// themes
[data-theme="light"] {
    --first: #0a0001;
    --second: #F0FAF2;
}
[data-theme="dark"] {
    --first: #F0FAF2;
    --second: #0a0001;
}
