header
    .header
        a.header--link(href="/") D#[span avid] M#[span artín]
        nav.header-menu
            label.header--menu-toggle(role="button" for="menu-toggle" aria-label="Menú desplegable para enlaces de interés" aria-labelledby="menu-details")
                .nav-toggle(aria-hidden="true")
                    .nav-toggle--bar(aria-hidden="true")
                    .nav-toggle--bar(aria-hidden="true")
                    .nav-toggle--bar(aria-hidden="true")
            input(type="checkbox" class="header--menu-toggle--checkbox" id="menu-toggle")
            .header--navigation-items(id="menu-details")
                ul.header--navigation-list
                    li.header--navigation-item
                        a(href="#sobreDavidMartin") Sobre mi