title David Martín Pérez - Front-End Developer 😁
meta(charset='utf-8')
meta(name="google-site-verification" content="7iqvK0mxYWVygwe8RcqVM5sYZtx75M8-K1zA3doCjHs")
meta(name="keywords" content="David Martín Pérez, David Martin, Front-End, Frontend, Desarrollador web, David Málaga")
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0'")
meta(name="robots" content="index, follow")
meta(name="author" content="David Martín Pérez")
meta(name="description" property="og:description" content="Soy David Martín Pérez desarrollador Front-End que vive en Málaga. Apasionado de Javascript y nuevas tecnologías. ¿Quiéres saber más sobre mi? 👆👆" data-hid="description")
meta(property="og:title" content="David Martín Pérez - Front-End Developer")
meta(property="og:type" content="profile")
meta(property="og:image" content="https://davidmartinperez.github.io/assets/img/foto-perfil-banner.jpg")
meta(name="twitter:description" content="Soy Front-End Developer que vive en Málaga. Apasionado de Javascript y Angular.")
meta(name="twitter:image" content="https://davidmartinperez.github.io/assets/img/foto-perfil-banner.jpg")
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:site" content="@davililloperez")
meta(name="theme-color" content="#0a0001")

//-- meta cache
meta(http-equiv="X-UA-Compatible" content="ie=edge")
meta(http-equiv="cache-control" content="max-age=0")
meta(http-equiv="cache-control" content="no-cache")
meta(http-equiv="expires" content="0")
meta(http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT")
meta(http-equiv="pragma" content="no-cache")
//-- links
link(rel="shortcut icon", href="https://davidmartinperez.github.io/assets/img/favicon.ico", type="image/x-icon")
link(rel="stylesheet", href=STYLE, type="text/css")
link(href="https://fonts.googleapis.com/css?family=Euphoria+Script|Merienda&display=swap" rel="stylesheet")
link(href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet")
<!-- Global site tag (gtag.js) - Google Analytics -->
script(async src="https://www.googletagmanager.com/gtag/js?id=UA-175554641-1")
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-175554641-1');



//- <head>
//-     <meta data-n-head="ssr" name="google-site-verification" content="YCt4O9a-R3y1lj2DJREjpeVZLrZgwF4gSee95T6Q0PI">
//-     <meta data-n-head="ssr" property="og:updated_time" content="2020-04-26T15:09:33.481Z">

//-     <link data-n-head="ssr" rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16">
//-     <link data-n-head="ssr" rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
//-     <link data-n-head="ssr" rel="icon" type="image/png" href="/favicons/android-chrome-96x96.png" sizes="96x96">
//-     <link data-n-head="ssr" rel="icon" type="image/png" href="/favicons/android-chrome-192x192.png" sizes="192x192">
//-     <link data-n-head="ssr" rel="apple-touch-icon" href="/favicons/apple-touch-icon-57x57.png" sizes="57x57">
//-     <link data-n-head="ssr" rel="apple-touch-icon" href="/favicons/apple-touch-icon-60x60.png" sizes="60x60">
//-     <link data-n-head="ssr" rel="apple-touch-icon" href="/favicons/apple-touch-icon-72x72.png" sizes="72x72">
//-     <link data-n-head="ssr" rel="apple-touch-icon" href="/favicons/apple-touch-icon-76x76.png" sizes="76x76">
//-     <link data-n-head="ssr" rel="apple-touch-icon" href="/favicons/apple-touch-icon-114x114.png" sizes="114x114">
//-     <link data-n-head="ssr" rel="apple-touch-icon" href="/favicons/apple-touch-icon-120x120.png" sizes="120x120">
//-     <link data-n-head="ssr" rel="apple-touch-icon" href="/favicons/apple-touch-icon-144x144.png" sizes="144x144">
//-     <link data-n-head="ssr" rel="apple-touch-icon" href="/favicons/apple-touch-icon-152x152.png" sizes="152x152">
//-     <link data-n-head="ssr" rel="apple-touch-icon" href="/favicons/apple-touch-icon-180x180.png" sizes="180x180">
//-     <link data-n-head="ssr" rel="mask-icon" type="image/png" href="/favicons/safari-pinned-tab.svg" color="#c1c1c1">
//-     <link data-n-head="ssr" rel="manifest" href="/manifest.json">
    
//-   </head>