-var logo = '/assets/img/logo.jpeg'
header
    .header
        a.header--link(href="/") D#[span avid] M#[span artín]
            //- img.header--logo(src=logo, alt="logo DM")
        .header--menu-toggle(role="button")
            .nav-toggle
                .nav-toggle--bar
                .nav-toggle--bar
                .nav-toggle--bar
        .header--navigation-items
            ul.header--navigation-list
                li.header--navigation-item
                    a(href="#proyects") proyectos