-var img = './assets/img/foto-perfil-edit-negro.jpg';
section.hero
    .hero__about
        .hero__about--title
            p Hola,
            p Soy David
            p front-end developer
    .hero__img
        img(src=img, alt="Foto en Muelle uno, Málaga")
    .hero__icons
        a.linkedin(href="https://linkedin.com/in/dmartinp")
            span.fab.fa-linkedin-in
        a.github(href="https://github.com/DavidMartinPerez")
            span.fab.fa-github
        a.codepen(href="https://codepen.io/davililloperez")
            span.fab.fa-codepen
        a.twitter(href="https://twitter.com/davililloperez")
            span.fab.fa-twitter
    .hero__scroll
        .scroll