.proyect
    .proyect--title Proyectos
    ul.proyect__list
        li.proyect__list--item
            .proyect__list--item--card
                .title reindeer
                .description Este proyecto esta realizado con CSS y animaciones
                .list-stack
                    span.stack CSS
                    span.stack Animaciones
                .list-link
                    a(href="https://codepen.io/davililloperez/full/zYYpQBe" title="Probar demo" target="_blank") Demo
                    a(href="https://codepen.io/davililloperez/pen/zYYpQBe" title="Ver código en CodePen.io" target="_blank") Código
            img(src="assets/img/reindeer-proyect.png", alt="Proyecto CSS + Animations")
        li.proyect__list--item
            .proyect__list--item--card
                    .title Porfolio Photographer
                    .description Este proyecto esta realizado con CSS y animaciones
                    .list-stack
                        span.stack CSS
                        span.stack Animaciones
                    .list-link
                        a(href="https://codepen.io/davililloperez/full/Vwwxgpg" title="Probar demo" target="_blank") Demo
                        a(href="https://codepen.io/davililloperez/pen/Vwwxgpg" title="Ver código en CodePen.io" target="_blank") Código
            video(autoplay loop)
                source(src="assets/img/proyect-photographer.mp4" type="video/mp4")
        li.proyect__list--item
            .proyect__list--item--card
                    .title Porfolio Photographer
                    .description Este proyecto esta realizado con CSS y animaciones
                    .list-stack
                        span.stack CSS
                        span.stack Animaciones
                    .list-link
                        a(href="https://codepen.io/davililloperez/full/Vwwxgpg" title="Probar demo" target="_blank") Demo
                        a(href="https://codepen.io/davililloperez/pen/Vwwxgpg" title="Ver código en CodePen.io" target="_blank") Código
            video(autoplay loop)
                source(src="assets/img/proyect-photographer.mp4" type="video/mp4")
        li.proyect__list--item
            .proyect__list--item--card
                    .title Porfolio Photographer
                    .description Este proyecto esta realizado con CSS y animaciones
                    .list-stack
                        span.stack CSS
                        span.stack Animaciones
                    .list-link
                        a(href="https://codepen.io/davililloperez/full/Vwwxgpg" title="Probar demo" target="_blank") Demo
                        a(href="https://codepen.io/davililloperez/pen/Vwwxgpg" title="Ver código en CodePen.io" target="_blank") Código
            video(autoplay loop)
                source(src="assets/img/proyect-photographer.mp4" type="video/mp4")