label.switch_theme(role="button" for="switch-theme" aria-label="Cambiar tema de colores" aria-labelledby="switch-theme")
    .icon
input(type="checkbox" class="switch_theme--checkbox" id="switch-theme")