section.bio.wrapper#sobreDavidMartin
    h1.bio__title ¿Quiéres saber más sobre mi?
    .bio__description
        p Soy un #[strong Front-End Developer] enamorado de las nuevas tecnologías, tengo 3 años de experiencia en tecnologías de #[strong Front-End], en especial con Angular, he trabajado en varios proyectos con tecnologías como Javascript, Typescript, Angular, React, CSS3, HTML5, GULP, GIT, entre otras.
        p Mi objetivo es seguir creciendo como desarrollador, adquiriendo conocimientos sobre tecnologias #[strong Front-End], Javascript y diseño.
        p Me encanta cuidarme, especialmente estoy centrado en llevar un estilo de #[strong vida saludable y activo]. En mis tiempos libres me encanta salir a caminar, hacer ejercicio, leer, jugar a videojuegos, cocinar nuevos platos y estar al tanto de todo lo que se cuece en nuestro sector y otros sectores.