section.contact.wrapper
    h2.contact__title ¿Quiéres preguntarme algo?
    .contact__description
        p Puedes conectar conmigo atravez de los siguientes enlaces o mandarme un correo si quieres comentarme algo!