section.experience.wrapper
    h2.experience__title Experiencia
    .experience__description
        p Tengo 3 años de experiencia en el sector de programación, trabajando en el frontend para grandes empresas.