-var img = './assets/img/foto-david-martin-perez.jpg';
section.hero
    .hero__about
        h2.hero__about--title
            p David Martín
            p - Front-End Developer -
    .hero__img
        img(src=img, alt="Foto de David Martín Pérez" title="Like Steve Jobs")
    .hero__social
        ul.hero__social--icons
            li
                a.linkedin(href="https://linkedin.com/in/dmartinp" rel="canonical" title="Linkedin - David Martín Pérez" target="_blank" aria-label="Botón para navegar a mi linkedin")
                    span(aria-hidden="true").fab.fa-linkedin-in
            li
                a.github(href="https://github.com/DavidMartinPerez" rel="canonical" title="Github - David Martín Pérez" target="_blank" aria-label="Botón para navegar a mi github")
                    span(aria-hidden="true").fab.fa-github
            li
                a.codepen(href="https://codepen.io/davililloperez" title="Codepen - David Martín Pérez" target="_blank" aria-label="Botón para navegar a mi codepen")
                    span(aria-hidden="true").fab.fa-codepen
            //- li
            //-     a.twitter(href="https://twitter.com/davililloperez" title="Twitter - David Martín Pérez" target="_blank" aria-label="Botón para navegar a mi twitter")
            //-         span(aria-hidden="true").fab.fa-twitter
    .hero__scroll
        .scroll