section.interesting.wrapper
    .interesting__title Curiosidades sobre mi website
    .interesting__description
        p Esta web no usa ningún icono.. como lo lees, todos estos iconos que ves estan realizados con CSS