section.proyect.wrapper
    .proyect--title Proyectos
    .proyect--description Estos son algunos de mis proyectos realizados. ¿Quieres ver más? Pulsa aquí.
    ul.proyect__list
        li.proyect__list--item
            .proyect__list--item--card
                .title reindeer
                .description Proyectos con animaciones dinámicas al iniciar la vista
                .list-link
                    a(href="https://davidmartinperez.github.io/ui-to-web/01-reindeer/" title="Probar demo" target="_blank") Demo
                    a(href="https://github.com/DavidMartinPerez/ui-to-web/tree/master/01-reindeer" title="Ver código en Github" target="_blank") Código
            img(src="assets/img/reindeer-proyect.png", alt="Proyecto CSS + Animations")
        li.proyect__list--item
            .proyect__list--item--card
                    .title Porfolio Photographer
                    .description Proyectos con animaciones dinámicas al iniciar la vista
                    .list-link
                        a(href="https://davidmartinperez.github.io/ui-to-web/02-photographer-porfolio/" class="btn" title="Probar demo" target="_blank") Demo
                        a(href="https://github.com/DavidMartinPerez/ui-to-web/tree/master/02-photographer-porfolio" class="link" title="Ver código en Github" target="_blank") Código
            img(src="assets/img/proyect-photographer.gif", alt="Proyecto CSS + Animations")
        li.proyect__list--item
            .proyect__list--item--card
                    .title Happy New Year
                    .description Proyecto con animación scroll parallax
                    .list-link
                        a(href="https://davidmartinperez.github.io/ui-to-web/04-Happy-New-Year-Parallax/" class="btn" title="Probar demo" target="_blank") Demo
                        a(href="https://github.com/DavidMartinPerez/ui-to-web/tree/master/04-Happy-New-Year-Parallax" class="link" title="Ver código en Github" target="_blank") Código
            img(src="assets/img/happy-new-year.gif", alt="Proyecto Animacion Scroll Parallax")
        li.proyect__list--item
            .proyect__list--item--card
                    .title Home page - Social Media
                    .description Proyecto realizado con CSS
                    .list-link
                        a(href="https://davidmartinperez.github.io/ui-to-web/03-social-media-home/" class="btn" title="Probar demo" target="_blank") Demo
                        a(href="https://github.com/DavidMartinPerez/ui-to-web/tree/master/03-social-media-home" class="link" title="Ver código en Github" target="_blank") Código
            img(src="assets/img/social-media.png", alt="Proyecto CSS")