section.wrapper.temporal
    p.temporal--title #[strong Continuará...]
    p Esta web esta aun en desarrollo, puedes conseguir más información sobre mi en los siguientes enlaces:
    p.temporal--links
        a(href="https://linkedin.com/in/dmartinp" title="Linkedin de David Martín") Linkedin
        a(href="https://github.com/DavidMartinPerez" title="Twitter de David Martín") Github
        a(href="https://twitter.com/davililloperez" title="Twitter de David Martín") Twitter