//Colors

//$fondo: #332333;
//$fondo: #291d29;
$fondo: #171717;

$colorFontDocument: #fff;

//$colorHovers: #00fa9a;
//$colorHovers: #65ff80;
$colorHovers: #5ce475;

$padding: 15px;

$colorDescription: #a09999;