/* Fontello [icons]*/
@import "../icons/css/fontello.css";
/* Fontello */


// Estilos comunes entre todas las vistas
body,p,html,div{
    margin: 0;
    padding: 0;
}


body{
    @extend %fira-code-font;
    background-color: $fondo;
    color: $colorFontDocument;
}

//Wrapper

.wrapper{
    margin: 0 auto;
    min-width: 350px;
    max-width: 80%;
}
@media only screen and (min-width: 1150px) {
    .wrapper {
        max-width: 1000px !important;
    }
}

footer.wrapper {
    max-width: 80% !important;
}

//Reajuste para footer bottom
$footer-height: 60px;
html{
    min-height:100vh;
}
main{
    min-height: calc(100vh - (#{$footer-height} * 3))
}
footer{
    margin-top: $footer-height;
    position: relative;
    .copyright{
        a{
            @extend %hoverDefault;
            text-decoration: none;
            color: $colorHovers;
            &:hover,&:focus{
                @extend %hoverActive;
                cursor: pointer;
                cursor: hand;
            }
        }
    }
    .tag{
        color: $colorHovers;
    }
}


// Estilos de titulos
h1.title{
    text-align: center;
}
