html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: var(--second);
    color: var(--first);
}

section:not(.hero) {
    margin-top: 80px;
    margin-bottom: 80px;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    max-width: calc(100% - 2.4rem);

    @include responsive(phone) {
        max-width: 1000px;
    }
    @include responsive(tab) {
        max-width: 1000px;
    }
    @include responsive(desktop-mini) {
        max-width: 990px;
    }
    @include responsive(desktop) {
        max-width: 768px;
    }
}

