body {
    font-family: 'Poppins', sans-serif;
    font-family: 'The Girl Next Door', cursive;
    font-family: 'Euphoria Script', cursive;
    font-family: 'Merienda', cursive !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}