extends ./commun/layout

append head
    title Esta página no existe... - David Martín Pérez

append content
    h1.title < Algo no va bien... />
    .wrapper
        p Esta página ya no existe o nunca existió,
        p pero... ¿Esto existe? ¿Existimos?
