extends ./commun/layout

append head
    title Experiencia Laboral - David Martín Pérez

append content
    h1.title < Experiencia />
    .wrapper
        ul.jobs
            li.enterprise
                .info
                    .name Indra Software Labs
                    .timein #[span.icon-clock ]Feb. 2017 - #[span actual]
                ul.responsibilities
                    li
                        .job Angular Frontend Developer
                        .make Creación de proyecto con tecnologías modernas, metodología ágil,visitas al cliente, integración continua y control de versiones. Utilizando tecnologías y metologías como #[span Angular 6+], consumos de #[span API REST], SCSS, CSS3, HTML5, NPM, GIT, JASMINE, Angular Material,Material Design, #[span ES6], NgRx, #[span Redux], vscode, Scrum, Zeplin, Invision, Slack, Jira, Confluence, Analítica, explotación de datos, etc
                        .timein #[span.icon-clock.white ]Jul. 2018 - #[span actualidad]
                    li
                        .job Junior Frontend Developer
                        .make Implementación de nuevas funcionalidades para una aplicación frontend en #[span AngularJS], HTML5, #[span SCSS], Bootstrap, CSS3, Grunt, JQuery consumo de #[span API REST].
                        .timein #[span.icon-clock.white ]Abr. 2018 - Jun. 2018
                    li
                        .job Junior  Full Stack Developer
                        .make Trabajando en diversos proyectos como una página de información y registro de solicitudes para la UMA Máster Inftel desarrollada con #[span Java Spring], JSP, Material Desing, MDBootstrap, #[span JQuery]. Gestión de usuarios / recuersos internos desarrollado en #[span AngularJS], Boostrap, JQuery, #[span Java Spring]. Participando en el programa de #[span Formación Profesional dual].
                        .timein #[span.icon-clock.white ]Feb. 2017 - Abr. 2018
            li.enterprise.mb30
                .info
                    .name Luis Cernuda
                    .timein #[span.icon-clock ]Mar. 2016 - Jun. 2016
                ul.responsibilities
                    li
                        .job Técnico de equipos informaticos
                        .make Administrando redes locales, soporte para equipos electrónicos y periféricos (PC, impresoras, equipos de música, proyectores,etc.), asesoramiento al profesorado sobre aplicaciones ofimáticas y equipos.
