include ./components/variables
doctype
html(lang='es-Es')
    head
        include ./components/head-tag
        title prueba prueba
    body
        include ./components/header

        main
            p prueba

        include ./components/footer
        //- script(src=VENDORJS)
        //- script(src=BUNDLEJS)