include ./shared/variables
doctype
html(lang='es-Es')
    head
        include ./shared/head-tag
    body
        include ./shared/header
        main
            include ./layout/hero
            include ./layout/bio
            include ./layout/temporal
            //- include ./layout/proyects

        include ./shared/footer
        //- script(src=VENDORJS) //No utilizado por ahora
        //- script(src=BUNDLEJS)