include ./shared/variables
doctype
html(lang='es-Es')
    head
        include ./shared/head-tag
        title prueba prueba
    body
        include ./shared/header

        main
            p prueba main body

        include ./shared/footer
        script(src=SCRIPT)