extends ./commun/layout

append head
    title Principal - David Martín Pérez

append content
    h1.title < Bienvenido />
    .container-console
        .label-console Terminal
        .console
            p.typed#typed-home
    .wrapper
        p ¡Os presento mi web!
        p Me llamo David y aquí podréis conocer todo sobre mí vida laboral, mis proyectos personales, mis estudios y mis pasiones.
        p Un saludo y que tengáis una buena visita.