include ./shared/variables
doctype
html(lang='es-Es')
    head
        include ./shared/head-tag
        title David Martin Perez - Web Personal
    body
        include ./shared/header
        main.wrapper
            include ./shared/hero
            //- include ./shared/proyects

        //- include ./shared/footer
        script(src=VENDORJS)
        script(src=BUNDLEJS)