extends ./commun/layout

append head
    title Contáctame! - David Martín Pérez

append content
    - var weatherapp = { link: "https://davidmartinperez.github.io/apps/weatherapp/index.html", name: "WeatherApp", description: "React, React-Redux, Material-UI" }
    - var fakegram = { link: "https://davidmartinperez.github.io/fakegram-react-firebase/", name: "FakeGram", description: "React, Firebase" }
    - var pokedex = { link: "https://davidmartinperez.github.io/apps/pokedex/", name: "Pokedex", description: "Angular" }
    - var roaload = { link: "https://roaload.000webhostapp.com/", name: "Roaload e-commerce", description: "PHP, MYSQL, MaterializeCSS, Telegram API" }
    - var mundo = { link: "https://davidmartinperez.github.io/mundo/", name: "Mundo Giratorio", description: "Pure CSS" }
    - var fakemockito = { link: "https://github.com/DavidMartinPerez/FakeMockito", name: "Servidor Mock en NodeJS", description: "FakeMockito" }

    - var projects = [ weatherapp, fakegram, pokedex, roaload, mundo ];
    - var repos = [ fakemockito ]

    .container-console
        .label-console Terminal
        .console
            p#type-project.typed

    .wrapper
        h1 Demo de proyectos
        ul
            each project in projects
                li
                    .project-description
                        a(href=project.link target="_blank" rel="noopener noreferrer").link= project.name
                        p.description= project.description
            else
                .project-description
                        a(href="#" target="_blank" rel="noopener noreferrer").link No hay proyectos...
                        p.description Prueba otro día

        h1 Repositorios
        ul
            each repo in repos
                li
                    .project-description
                        a(href=repo.link target="_blank" rel="noopener noreferrer").link= repo.name
                        p.description= repo.description
            else
                .project-description
                        a(href="#" target="_blank" rel="noopener noreferrer").link No hay repos...
                        p.description Prueba otro día
