header.header
    a(href="/").header__logo
        img(src="assets/images/logo-provisional.png", alt="logo provisional de batman", width="32" height="24")

    nav.header__nav
        label.header__nav--menu-toggle(role="button" for="menu-toggle" aria-label="Menú desplegable para enlaces de interés" aria-labelledby="menu-details")
                .nav-toggle(aria-hidden="true")
                    .nav-toggle--bar(aria-hidden="true")
                    .nav-toggle--bar(aria-hidden="true")
                    .nav-toggle--bar(aria-hidden="true")
        input(type="checkbox" class="header--menu-toggle--checkbox" id="menu-toggle")
        .header__nav--items(id="menu-details")
            ul.header__nav--navigation-list
                li.header__nav--navigation-list--item
                    a(href="#about").header__nav--navigation-list--item--about Conoceme
                li.header__nav--navigation-list--item
                    a(href="#experience").header__nav--navigation-list--item--experience Experiencia
                li.header__nav--navigation-list--item
                    a(href="#portfolio").header__nav--navigation-list--item--project Proyectos
                li.header__nav--navigation-list--item
                    a(href="#education").header__nav--navigation-list--item--education Educación
            ul.header__nav--link-list
                li.header__nav--link-list--item
                    a(href="/").icon--github
                        include ./icon-github
                li.header__nav--link-list--item
                    a(href="https://www.linkedin.com/in/dmartinp").icon--linkedin
                        include ./icon-linkedin
                li.header__nav--link-list--item
                    include ./switch_theme
    .header__icons--switch
        include ./switch_theme
