label.switch_theme(role="button" for="switch-theme" aria-label="Cambiar tema de colores" aria-labelledby="switch-theme")
    .icon
        .moon
            .crater
            .alien
            .alien
            .alien
            .crater
            .crater
            .crater
            .crater
            .alien
            .crater
        .sun
            .ray
            .ray
            .ray
            .ray
input(type="checkbox" class="switch_theme--checkbox" id="switch-theme")
