- var weatherapp = { link: "https://davidmartinperez.github.io/apps/weatherapp/index.html", name: "WeatherApp", description: "React, React-Redux, Material-UI" }
- var fakegram = { link: "https://davidmartinperez.github.io/fakegram-react-firebase/", name: "FakeGram", description: "React, Firebase" }
- var pokedex = { link: "https://davidmartinperez.github.io/apps/pokedex/", name: "Pokedex", description: "Angular" }
- var roaload = { link: "https://roaload.000webhostapp.com/", name: "Roaload e-commerce", description: "PHP, MYSQL, MaterializeCSS, Telegram API" }
- var mundo = { link: "https://davidmartinperez.github.io/mundo/", name: "Mundo Giratorio", description: "Pure CSS" }
- var fakemockito = { link: "https://github.com/DavidMartinPerez/FakeMockito", name: "Servidor Mock en NodeJS", description: "FakeMockito" }

- var projects = [ weatherapp, fakegram, pokedex, roaload, mundo ];
- var repos = [ fakemockito ]
- var TWITTER = 'href="https://twitter.com/davililloperez';
- var GITHUB = 'https://github.com/DavidMartinPerez';
- var EMAIL = 'mailto:davidmartinperez1@gmail.com?Subject=Me%20encantaria%20decirte';
- var WHATSAPP = '';
- var INSTAGRAM = 'https://www.instagram.com/davililloperez/';