.switch_theme {
    position: fixed;
    cursor: pointer;
    bottom: 25px;
    left: 25px;
    width: 48px;
    height: 48px;
    background-color: var(--first);
    border: 2px solid var(--second);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: var(--second);
    }
    &--checkbox {
        display: none;
    }
}