// Paleta de colores pastel
$white: #FDFDFD;
// $black: #121316;
$black: #0a0001;
$grey: #767a7d;
$red: #ffabab;

$pink: #E8AEA7;
$darkpink: #D78275;
$purple: #936183;
$breis: #EEC49D;
$lightpink: #F2CDD7;
$lighgrey: #D0b5b8;