html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

section {
    min-height: 100vh;
    //TODO: Prueba
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-size: 72px;
        font-weight: 700;
        @include gradientIntensiveMagenta();
        line-height: 1.4em;
    }
}

%wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-left: 2.4em;
    padding-right: 2.4em;
    max-width: calc(100% - 2.4em);

    @include responsive(desktop) {
        max-width: calc(100% - 2.4em);
    }
}

.wrapper {
    @extend %wrapper;
}
