html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    max-width: calc(100% - 2.4rem);

    @include responsive(phone) {
        max-width: 1000px;
    }
    @include responsive(tab) {
        max-width: 1000px;
    }
    @include responsive(desktop) {
        max-width: 768px;
    }
}

