@import url('../assets/font/fira-code/fira_code.css');

body {
    font-family: 'Fira Code';
    font-weight: 400;
    font-size: 16px;
    line-height: 2em;
}

%font-merienda {
    font-family: 'Merienda', cursive;
}

%font-euphoria-script {
    font-family: 'Euphoria Script', cursive;
}

%title {
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.5em;
    text-decoration: underline $third;
    margin-bottom: 40px;
    @include responsive(desktop) {
        font-size: 2em;
        line-height: 1.5em;
    }
}

%description {
    font-size: 1em;
    line-height: 2em;
    p {
        &:nth-child(1) {
            margin-top: 0;
        }
        margin-top: 15px;
    }
}
